NEXT_PUBLIC_SUPABASE_URL=https://yyktgzawtvckmxbkrgwn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl5a3RnemF3dHZja214YmtyZ3duIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODY0MTQ5OTQsImV4cCI6MjAwMTk5MDk5NH0.fAwHL3nWetFFOUT1Qog6VnjLwQZth1tkiuRuQHJlGF4